<div class="ticker-container">
    <div class="ticker">
      <div class="ticker-item" *ngFor="let coin of coins">
        <img
          [src]="getIconUrl(coin)"
          [alt]="coin"
          class="coin-icon"
        />
        <span class="coin-price" *ngIf="prices[coin]">
          ${{ prices[coin].usd | number: '1.2-2' }}
        </span>
        <span class="loading" *ngIf="!prices[coin]">Loading...</span>
        
      </div>
      
      <div class="ticker-item" *ngFor="let coin of coins">
        <img
          [src]="getIconUrl(coin)"
          [alt]="coin"
          class="coin-icon"
        />
        <span class="coin-price" *ngIf="prices[coin]">
          ${{ prices[coin].usd | number: '1.2-2' }}
        </span>
        <span class="loading" *ngIf="!prices[coin]">Loading...</span>
        
      </div>
    </div>
  </div>
  